<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css_home/bootstrap/bootstrap.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
    <title>find_password</title>
</head>
<body>
<form class="form-inline" action="" method="get" style="display: block;margin:300px auto;width:300px;height:40px;">
  <div class="form-group">
    <label>用户名</label>
    <input type="text" class="form-control" id="name" placeholder="Name" style="width: 300px;">
  </div>
  <div class="form-group">
    <label>请输入邮箱地址(密码将发送至邮箱)</label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" style="width: 300px;">
  </div>
  <div class="form-group">
      <br>
    <button type="submit" class="btn btn-primary" style="width: 300px;">发送</button>
  </div>
</form>
</body>
</html>